

.header-about{
    position: relative;
    padding: 0 3%; /* Utilisez un pourcentage pour le padding */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 1rem;
    background-color: white;
    min-height: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur */
}


.about-link{
    width: 100%;
    max-width: 1500px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.about-link li{
    color :rgb(0, 0, 0); 
    list-style: none;
}

